{% extends 'signinbase.html' %}
{% load static %}
{% block content %}

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-8 col-md-4 mt-5">
						<div class="brand text-center mb-8">
							
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Create new account</h4>
								<form method="POST" action="{% url 'register' %}">
									
									<div class="form-group">
										<label for="email">Username </label>
										<input id="username" type="username" class="form-control" name="username" required="">
									</div>

									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control" id="email" name="email" required="" >
										
									</div>

									<div class="form-row">
										<div class="form-group">
											<label for="password">Password
											</label>
											<input id="password" type="password" class="form-control" name="password" required="">
										</div>
									</div>


									<div class="form-group no-margin">
										<button type="submit" class="btn btn-primary btn-block">
											Sign Up
										</button>
									</div>
									<div class="text-center mt-3 small">
										Already have an account? <a href="{% url 'register' %}">LogIn</a>
									</div>
								</form>
							</div>
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">&copy; 2024 Herbez. All Rights Reserved.</span>
								</div>
							</div>
						</footer>
					</div>
				</div>



			</div>

      </div>

{% endblock %}