{% extends 'indexbase.html' %}
{% load static %}
{% block content %}



    <section class="bg-dark py-5">
        <div class="container">
            <div class="row text-center text-white pt-5 pb-3"">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Shopping Cart</h1>

                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">

  
    </section>


    {% endblock %}